<div class="banner" style="background-image: url('/assets/laptopcoffee.jpg'), linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)"/>
  <div class="banner-content">
    <h1>Margreet Dijkstra</h1>
    <p>Web Developer</p>
    <a class="btn btn-primary btn-lg">Get in touch</a>
  </div>
</div>
