<div class="navbar-wagon">
  <!-- Logo -->
  <a>
  </a>

  <div class="navbar-wagon-right hidden-xs hidden-sm">
      <%= link_to "Portfolio", portfolio_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Contact", contact_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>



