<!-- url('https://kitt.lewagon.com/placeholder/cities/berlin');"> -->
<%= render "partials/banner" %>

<div id="portfolio" class="section-spacer">
  <div class="container">
    <div>
      <div>
        <div class="row">
          <h1 class="text-center">My portfolio</h1>
          <div>
            <div class="container">
              <div class="row">
                <div>
                  <div class="col-xs-12 col-sm-4">
                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                      <div class="card-description">
                        <h2>LondonFoodi</h2>
                        <p>info about the project</p>
                      </div>
                      <a class="card-link" href="#" ></a>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="col-xs-12 col-sm-4">
                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                      <div class="card-description">
                        <h2>Matcher</h2>
                        <p>info about the project</p>
                      </div>
                      <a class="card-link" href="#" ></a>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="col-xs-12 col-sm-4">
                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                      <div class="card-description">
                        <h2>Some Other Project</h2>
                        <p>info about the project</p>
                      </div>
                      <a class="card-link" href="#" ></a>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="col-xs-12 col-sm-4">
                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                      <div class="card-description">
                        <h2>Some Other Project</h2>
                        <p>info about the project</p>
                      </div>
                      <a class="card-link" href="#" ></a>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="col-xs-12 col-sm-4">
                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                      <div class="card-description">
                        <h2>Some Other Project</h2>
                        <p>info about the project</p>
                      </div>
                      <a class="card-link" href="#" ></a>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="col-xs-12 col-sm-4">
                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                      <div class="card-description">
                        <h2>Some Other Project</h2>
                        <p>info about the project</p>
                      </div>
                      <a class="card-link" href="#" ></a>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <form action="#">
        <h1 class="text-center">Get in touch</h1>
            <!-- Your form content -->
          <div class="row">
            <div class="col-xs-6">
            <div class="form-group">
              <label for="first-name">First name</label>
              <input type="text" class="form-control" id="first-name" placeholder="First name">
            </div>
          </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="last-name">Last name</label>
                <input type="text" class="form-control" id="last-name" placeholder="Last name">
              </div>
            </div>
          </div>
              <div class="form-group">
                <label for="your-email">Your email</label>
                <input type="email" class="form-control" id="your-email" placeholder="name@email.com">
              </div>
              <div class="form-group">
                <label for="your-message">Your message</label>
                <input type="text" class="form-control" id="your-message" placeholder="Your message">
              </div>
              <div>
                <input type="submit" value="Submit">
               </div>
             </div>
          </form>
        </div>
      </div>
    </div>

